.dropdown {
    position: absolute;
    right: 0px;
    top: 0px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    right: 213px;
    width: 189px;
    height: 110px;
    margin: 0;
    top: 45px;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: #bbbbbb80;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.4rem;
  }

  .center {
      background-color: red;
  }